
.flex {
  display: flex;
}

.comic {
  margin: 20px;
  padding: 10px;
  background: hsl(197, 8%, 93%);
}

.createComic {
  padding: 10px;
  margin: 20px;
  background: hsl(197, 8%, 93%);
}

.titleInput {
  width: 23em;
}

.numberInput {
  width: 4em;
}

body {
  background: hsl(197, 29%, 44%);
}

.editComic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background: hsl(197, 8%, 93%);
  box-sizing: border-box;
}

.funcButton {
  display: block;
  width: 20vw;
  margin: 5vh auto;
  background: hsl(197, 8%, 93%);
}