@charset "utf-8";

#app {
  position: relative;
  padding: 3vw;
}

#shelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.comic {
  background: hsl(197, 8%, 93%);
  margin: 8px;
  padding: 7px;
  box-shadow: 2px 2px 5px 0px hsl(197, 29%, 10%);
}

.comic__title {
  word-wrap: break-word;
}

.titleInput {
  width: 18em;
}

.numberInput {
  width: 4em;
}

body {
  background: hsl(197, 29%, 44%);
}

body.editting {
  overflow: hidden;
}

.inputForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background: hsl(197, 8%, 93%);
  box-sizing: border-box;
}

.input-form__submit {
  border: 1px solid hsl(197, 29%, 44%);
}

.createComic {
  z-index: 2;
}

.editComic {
  z-index: 4;
}

#funcButton {
  display: block;
  position: fixed;
  width: 75px;
  height: 75px;
  background: hsl(197, 8%, 93%);
  border-radius: 50% 50%;
  border: none;
  box-shadow: 2px 1px 8px -2px;
  font-size: 40px;
  z-index: 3;
  bottom: 4vh;
  right: 4vw;
}

#plus.x {
  display: inline-block;
  transform: rotate(45deg);
}
